.cert-image {
  height: 55vh;
}
.text-min{
  padding-bottom: 2rem;
  font-family: GoogleSans-Regular, Arial, Helvetica, sans-serif;
  font-size: calc(0.85rem + 0.1vw);
  color: #3c4043;
  font-weight: 100;
}
.line{
  border-bottom: 1px solid rgba(0, 54, 76, 0.3); /* Параметры линии */
  margin-left: 20rem; /* Отступ слева */
  padding-left: 10px; /* Расстояние от линии до текста */
  margin-right: 20rem; /* Отступ слева */
  padding-right: 10px; /* Расстояние от линии до текста */
  color: #00364c;
  margin-top: 15px;
}
::ng-deep.lb-dataContainer {
  position: absolute;
  padding-top: 0;
  top: 0;
  right: 50%;
  transform: translate(60%);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.cert{
  margin: 0 auto;
  text-align: justify;
  width: 70%;
}
.shadow{
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
